@import "base";

body{
  overflow: auto;
}

#content{
  margin: 0 auto;
  width: 100%;
  margin-bottom: px2rem(88px , $base-font-size);
}

.cart{
  background: #fff;
  padding:0.2rem;
  padding-top:0;
  margin-bottom: px2rem(20px , $base-font-size);
}
.cart::after {
  content: '';
  clear: both;
  display:block;
}

.cart-top{
  height: px2rem(60px , $base-font-size);
  background: #f5f5f5;
  overflow: hidden;
}
.cart-top-left{
  float: left;
}

.cart-top-left input{
  width: 0.47rem;
  height: 0.47rem;
  margin:0.2rem;
  color: #ea4f55;
}
.cart-top-right{
  float: right;
}

.cart-top-right input{
  width: px2rem(60px , $base-font-size);
  height: px2rem(60px , $base-font-size);
  line-height: px2rem(60px , $base-font-size);
  text-align: center;
  border: none;
}

.cart-top-right button{
  background: #ea4f55;
  border: none;
  color: #fff;
  width: px2rem(60px , $base-font-size);
  height: px2rem(60px , $base-font-size);
}
.cart-bottom{
  display: -webkit-box;
  display: box;
  margin:0 0 0.2rem 0 ;
  padding:0.2rem;
  height: 2rem;
  overflow: hidden;
  -webkit-box-pack:justify;
  border-top:1px solid #f5f5f5;
}

.cart-bottom-left{
  -webkit-box-flex:1;
  box-flex:1;
}

.cart-bottom-left img{
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cart-bottom-center{
  display: -webkit-box;
  display: box;
  -webkit-box-orient:vertical;
  box-orient:vertical;
  -webkit-box-pack:justify;
  @include px2px('font-size' , 24);
  -webkit-box-flex:4;
  box-flex:4;
}
.cart-bottom-right-title , .cart-bottom-right-price{
  height: 1rem;
  line-height: 1rem;
}
.cart-bottom-right{
  display: -webkit-box;
  display: box;
  -webkit-box-orient:horizontal;
  box-orient:horizontal;
  -webkit-box-pack:justify;
  @include px2px('font-size' , 24);
  -webkit-box-align:center;
  -webkit-box-flex:1;
  box-flex:1;
}
.cart-bottom-right input{
  width: px2rem(60px , $base-font-size);
  height: px2rem(60px , $base-font-size);
  line-height: px2rem(60px , $base-font-size);
  text-align: center;
  border: none;
}

.cart-bottom-right button{
  background: #ea4f55;
  border: none;
  color: #fff;
  width: px2rem(60px , $base-font-size);
  height: px2rem(60px , $base-font-size);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.cart-address{
  padding-left: px2rem(60px , $base-font-size);
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  font-size: 14px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #000;
}
.cart-address-name{
  flex-grow: 8;
}
.cart-address-tel{
  flex-grow: 1;
}
.cart-address-icon{
  flex-grow: 1;
  text-align: right;
  @include px2px('font-size' , 36);
}

.cart-total-price{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0.2rem 0;
  height: 1.2rem;
  background: #fff;
  position: fixed;
  bottom:px2rem(88px, $base-font-size);
  width: 100%;
}
.cart-total-price button{
  background: #ea4f55;
  width: 1.6rem;
  height: 1.2rem;
  border: none;
  color: #fff;
  padding:0.1rem;
  @include px2px('font-size' , 24);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 0.2rem;
}
.total{
  margin-left: 0.2rem;
}
.total-price{
  color: #ea4f55;
  @include px2px('font-size' , 36);
  margin-left:2px;
}

.order-title{
  display: -webkit-box;
  display: box;
  padding:0.2rem;
  height: px2rem(30px , $base-font-size);
  line-height: px2rem(30px , $base-font-size);
  @include px2px('font-size' , 24);
  overflow: hidden;
  -webkit-box-pack:justify;
  border-top:1px solid #f5f5f5;
}
.order-title .order-status{
  border: none;
  color: #ea4f55;
}

.order-pay-price{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-pay-price-item{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include px2px('font-size' , 24);
  padding: 0.2rem;
}

.order-pay-price-total{
  @include px2px('font-size' , 36);
}
.order-pay-price-total-num{
  color: #ea4f55;
}